@page "/MFARegister"
@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager
@inject IDialogService dialogService
<style>
  /* Removes all spacing between grid items for a merged appearance */
  .no-spacing .mud-grid-item {
    padding: 3 !important;
  }
</style>
<PageTitle>OAuth 2.0 and MFA - Register with an app</PageTitle>
<MudGrid Class="no-spacing">
  <MudItem xs="3">
  </MudItem>
  <MudItem xs="6">
    <h3>Register App with Authenticator</h3>
  </MudItem>
  <MudItem xs="3">
  </MudItem>
  <MudItem xs="5">
    <svg xmlns="http://www.w3.org/2000/svg" stroke="none" version="1.1" viewBox="0 0 70 70" width="70%" height="70%">
      <path d="@mfaRegisterResponse.QrCode" fill="#000000" />
    </svg>
  </MudItem>
  <MudItem xs="4">
    <MudNumericField Label="Authenticator Code" HelperText="Please enter 6 digit code shown in your authenticator app." @bind-Value="mfaAuthenticate.Code" For="@(() => mfaAuthenticate.Code)" Required="true" MaxLength="6" TextChanged="EnableDisable" HideSpinButtons="true" />
  </MudItem>
  <MudItem xs="3">
    <MudButton ButtonType="ButtonType.Submit" Disabled="@disabled" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="CheckAuthentication" Class="ml-auto" Size="Size.Large">Authenticate</MudButton>
  </MudItem>
  <MudItem xs="7">
    <MudField Label="@mfaRegisterResponse.Instructions" Variant="Variant.Outlined"></MudField>
  </MudItem>
  <MudItem xs="5">
    <MudField Label="@mfaRegisterResponse.ManualEntryKey" Variant="Variant.Outlined"></MudField>
  </MudItem>
  <MudItem xs="2">
  </MudItem>
  <MudItem xs="8">
    <MudField Label="Feel free to click on 'MFA Apps' menu option to see the list of Authenticator Apps" Variant="Variant.Outlined"></MudField>
  </MudItem>
  <MudItem xs="2">
  </MudItem>
</MudGrid>
@code {

  MFAAuthenticateRequest mfaAuthenticate = new MFAAuthenticateRequest();

  MFAAuthenticateResponse mfaAuthenticateResponse = new();

  MFARegisterRequest setupMfaRequest = new MFARegisterRequest();

  MFARegisterResponse mfaRegisterResponse = new();

  Boolean disabled = true;

  private String? email = String.Empty;
  private String? secret = String.Empty;

  /// <summary>
  /// Authenticate the code entered by the user from Authenticator App.
  /// </summary>
  /// <returns></returns>
  public async Task CheckAuthentication()
  {
    TotpService totpService = new TotpService();
    Boolean authenticated = totpService.ValidateCode(mfaRegisterResponse.Secret, mfaAuthenticate.Code);
    StateHasChanged();
    if (authenticated)
    {
      await localStorage.SetItemAsync<Boolean>("registered", authenticated);
      IDialogReference confirmDelete = await OpenDialogAsync();
      DialogResult? dialogResult = await confirmDelete.Result;
      if (dialogResult == null || dialogResult.Canceled) return;
      var test = dialogResult == null;
      navigationManager.NavigateTo("/");
    }
    else
    {
      IDialogReference confirmDelete = await OpenDialogAsyncFailed();
      DialogResult? dialogResult = await confirmDelete.Result;
    }
  }

  /// <summary>
  /// When page is loaded, retrieve email address from local storage so that secret can be generated from it.
  /// Then store the secret in local storage so that it can be used later.
  /// Please note that this is for DEMO purpose only. Ideally the secrets will be stored in database on server side.
  /// </summary>
  /// <returns></returns>
  protected override async Task OnInitializedAsync()
  {
    email = await localStorage.GetItemAsync<String>("email");
    TotpService totpService = new TotpService();
    mfaRegisterResponse = totpService.GenerateSecret(email);
    await localStorage.SetItemAsync<String>("secret", mfaRegisterResponse.Secret ?? String.Empty);
  }

  /// <summary>
  /// Shows the authentiation successful dialog
  /// </summary>
  /// <returns></returns>
  private Task<IDialogReference> OpenDialogAsync()
  {
    var parameters = new DialogParameters<Dialog>
        {
            { x => x.ConfirmationMessage, "The code provided from Authenticator app is successfully validated!" },
            { x => x.ButtonColor, Color.Success }
        };

    return dialogService.ShowAsync<Dialog>("Success!", parameters, null);
  }

  /// <summary>
  /// Shows the authentiation failed dialog
  /// </summary>
  /// <returns></returns>
  private Task<IDialogReference> OpenDialogAsyncFailed()
  {
    var parameters = new DialogParameters<Dialog>
        {
            { x => x.ConfirmationMessage, " Authentication FAILED for the code provided, please try again. Good luck!" },
            { x => x.ButtonColor, Color.Error }
        };

    return dialogService.ShowAsync<Dialog>("Failed!", parameters, null);
  }

  /// <summary>
  /// Ensures that the Authenticate button is enabled / disabled depending on code is entered or not.
  /// </summary>
  /// <param name="value">Automatically passed to method by the framework.</param>
  private void EnableDisable(String value)
  {
    disabled = String.IsNullOrEmpty(value) || value.Length != 6;
    StateHasChanged();
  }

}
